{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "ie": 11
            }
        }]
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-object-rest-spread"
    ]
}
