{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "settings": {
        "import/resolver": {
            node: { extensions: [".js", ".mjs"] }
        }
    },
    "rules": {
        "import/extensions": ["error", "always", {
            js: "never",
            mjs: "never"
        }],
        "react/jsx-filename-extension": ["error", { "extensions": [".mjs"] }],
        "comma-dangle": ["error", "never"],
        "no-use-before-define": ["off"],
        "no-unused-vars": ["warn"],
        "no-prototype-builtins": ["off"],
        "react/jsx-one-expression-per-line": ["off"]
    }
}
